.disabledText {
  color: var(--dark-100, #808080);
}

.checkboxWrapper {
  margin-right: 8px;
  padding: 4px;
  border-radius: 50%;
  &:hover {
    background-color: var(--color-dark-100);
  }
  &:active {
    background-color: var(--color-dark-500);
  }
  &:focus {
    background-color: var(--color-dark-100);
  }
}

.checkboxWrapperDis{
  margin-right: 8px;
  padding: 4px;
  border-radius: 50%;
  &:hover {
    background-color:none
  }
  &:active {
    background-color: none
  }
  &:focus {
    background-color:none 
  }
}

.label {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.checkbox {
  appearance: none;

  width: 18px;
  height: 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  vertical-align: middle;
  border-radius: 3px;
  border: 2px solid rgb(244, 247, 250);
  cursor: pointer;
  &:checked {
    appearance: none;

    background: #e3e8ec url('checked.svg') no-repeat 50% 50%;
    /*background: #99ff99;*/
  }
  &:focus {
    border-color: #e3e8ec;
  }
  &:disabled{
    border: 2px solid var(--dark-100, #808080);
  }
  &:checked:disabled{
    background: var(--dark-100, #808080) url('checked.svg') no-repeat 50% 50%;
  }
}
