button {
  all: unset;
}

.selectTrigger {
  width: 100%;
  background: transparent;
  display: flex;
  border-radius: 2px;
  border: 1px solid var(--dark-300, #4c4c4c);
  padding: 6px 12px;
  justify-content: space-between;

  &[disabled] {
    pointer-events: none;
    &::placeholder{
      color: var(--dark-300, #4C4C4C);
    }
  }

  &[disabled] .selectIcon {
    color: var(--dark-300, #4c4c4c);
  }

  &:hover {
    background-color: var(--dark-100, #808080);
  }
  &:focus {
    border: 1px solid var(--dark-300, #382766);
  }
}

.selectContent {
  width: var(--radix-select-trigger-width);
  background-color: transparent;
  border: 1px solid var(--dark-300, #4c4c4c);
}

.selectItem {
  display: block;
  border-radius: 3px;
  padding: 6px 12px;
  &:hover {
    border-radius: 2px;
    border: 1px solid var(--dark-300, #4c4c4c);
    background: var(--primary-900, #382766);
  }
  &[data-disabled] {
    pointer-events: none;
  }
  &[data-highlighted] {
    outline: none;
    border-radius: 2px;
    border: 1px solid var(--dark-300, #4c4c4c);
    background: var(--primary-900, #382766);
  }
}

.disText {
  color: var(--dark-300, #4C4C4C);
}

