.container{
  margin:0 auto;
  display: block;
  max-width: 1280px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  border-radius: 10px;
  border-bottom: 1px solid var(--dark-500, #333);
  background: var(--dark-700, #171717);
  margin-bottom: 20px;

  
  .logo {
    img {
      width: 156.482px;
      height: 36px;
      flex-shrink: 0;
    }
  }
  
  .right {
    align-items: center;
}

}